<div class="card mt-4">
  <img class="card-img-top img-fluid" src="https://via.placeholder.com/900x400" alt="..." />
  <div class="card-body">
      <h3 class="card-title">{{ product.name }}</h3>
      <h4>{{ product.price }}</h4>
      <p class="card-text">{{ product.description }}</p>
      <span class="text-warning">{{starFull.repeat(product.rating)}}{{starEmpty.repeat(5 - product.rating)}}</span>
      {{product.rating.toFixed(1)}} stars
  </div>
</div>
<div class="card card-outline-secondary my-4">
  <div class="card-header">Product Reviews</div>
  <div class="card-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
      <small class="text-muted">Posted by Anonymous on 3/1/21</small>
      <hr />
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
      <small class="text-muted">Posted by Anonymous on 3/1/21</small>
      <hr />
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
      <small class="text-muted">Posted by Anonymous on 3/1/21</small>
      <hr />
      <a class="btn btn-success" href="#!">Leave a Review</a>
  </div>
</div>
